<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
	<h2>Project List</h2>
	{% if obj %}
		<table style="width:100%">
		<tr>
  		<th>Project Name</th>
  		<th>Survey ID</th>
  		<th>Survey Status</th>
		</tr>
		{% for proj in obj %}
		<tr>
  		<td><a href="{{ proj.id }}/">{{ proj.project_name }}</a></td>
  		<td>{{ proj.survey_id }}</td>
  		<td>{{ proj.survey_status }}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
    		<p>No project exists.</p>
	{% endif %}
  </body>
</html>


